{% extends 'base.html' %}

{% block content %}
<main>
    <section class="container" style="padding: 3rem 0; max-width: 600px;">
        <h1>Tambah Riwayat Pendidikan</h1>
        
        <!-- Tambahkan class="project-form" di sini -->
        <form method="POST" class="project-form">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    
                    {% if field.errors %}
                        <div class="form-error">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div style="margin-top: 2rem;">
                <button type="submit" class="button">
                    Simpan Pendidikan
                </button>
            </div>
        </form>

    </section>
</main>
{% endblock content %}